body{
    font-size: 14px;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: yellow;
    background-color: blue;
    font-size: 2em;
}
h2{
    font-size: 1.5em;
    background-color: #ccc;
    margin: 20px;
    padding: 40px;
}
a{
    text-decoration: none;
}
